.container-slide{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-altier-moema{
    background-image: url(/img/altierMoema/backgroundAltier.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 190vh;
    
    
}

.main-altier-moema::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.92); /* Cor preta com 50% de opacidade */
            pointer-events: none; /* Permite interação com elementos abaixo da máscara */
            
}
.card-container-img img{
    width: 800px;
    height: auto;
}
.main-altier-moema h2{
    font-size: 2.5rem;
    font-family: "Playfair Display";
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 300px;
    padding-top: 3rem;
    margin-left: 4rem;
    color: white;
    position: relative;
}
.flex-texto{
    position: relative;
}
.flex-texto p{
    width: 800px;
    height: 40px;
    font-family: "Montserrat";
    font-size: 1.1rem;
    position: absolute;
    transform: translate(-50%, -700%);
    opacity: 0 ;
    color: white;
    
}
.flex-texto p.amostrar{
    opacity: 1;
}
.card-container-img{
    position: absolute;
    transform: translate(-50%, -35%);
    opacity: 0;
}
.flex-img{
    margin-bottom: 200px;
    position: relative;  
}
.altier-moema{
    height: 100vh;
    margin-bottom: 2150px;
}


.mostrar{
    opacity: 1;
}
.btn-left{
    position: absolute;
    z-index: 999;
    background-color: transparent;
    left: 420px;
    bottom: -120px;
    border: none;
    cursor: pointer;

}
.flex-img .btn-right{
    position: absolute;
    z-index: 999;
    background-color: transparent;
    border: none;
    bottom: -120px;
    right: 420px;
    cursor: pointer;
}
.nav-color{
    position: absolute;
    bottom: -330px;
    right: -200px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.item-color{
    width: 56px;
    height: 4px;  
}
.item-padrao{
    background-color: white;
}
.item-cor-ativa{
    background-color: #C39425;
}
.info-obra{
    color: red;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    
}
.itens{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    
}
.itens p{
    color: white;
    background-color: #343434;
    padding: 20px 30px;
    width: 16rem;
    text-align: center;
    font-family: "Montserrat";
    
}
.status-obra{
    text-align: center;
    margin-top: 8rem;
}
.text-obra h3{
    font-size: 2rem;
    font-family: "Playfair Display";
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    position: relative;
    margin-bottom: 1rem;
    
}
.text-obra p{
    color: white;
    position: relative;
    font-family: "Montserrat";
    margin-bottom: 3rem;
}
.branco{
    position: relative;
    background-color: #D9D2C5;
    color: red;
    width: 815px;
    height: 52px;
    margin: 0 auto;
    margin-bottom: 5rem;
}
.amarelo{
    position: absolute;
    background-color: #B3B000;
    color: white;
    width: 10%;
    height: 52px;
    margin: 0 auto;
    font-size: 2.5rem;
}
.btn-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    right: 12rem;
    
}
.btn-info-item button{
    width: 12.5rem;
    padding: 5px 15px;
    font-size: 1.1rem;
    outline: none;
    border: none;
    color: white;
    background-color: #B3B000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat";
    border-radius: 5px;
}
#btn-visita{
    background-color: transparent;
    border: solid 2px #B3B000 ;
}
.container-video{
    max-width: 100%;
}

.form-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Cor-Dominante-1-Dark, #1F1F1F);
    padding: 3rem;
    width: 100%;
    margin-top: -5px;
}

h1 {
    margin: 0 0 8rem 0;
    text-align: center;
    color: var(--Basics-White, #FFF);
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;

}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem 10rem;
}

form .collumns2{
    grid-row: 3;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form .input-group:nth-child(odd) {
    margin-right: 30px; /* Ajuste o valor para o espaçamento desejado */
}

label {
    font-size: 1.5rem;
    margin-bottom: 1px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

input[type="text"], input[type="email"] {
    padding: 15px 0;
    border: none;
    width: 400px;
    height: 5px;
    border-bottom: 2px solid #B3B000;
    background: none;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 1.5rem;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-bottom: 2px solid #B3B000;
}

.btn-form {
    display: flex;
    background: #B88B00;
    border: none;
    border-radius: .25rem;
    width: 267px;
    height: 51px;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    grid-column: 2 / 3; 
    grid-row: 4;
    justify-self: end;
    margin-top: 1rem;
    margin-right: -80px;
}

.btn-form:hover {
    background: #c79910;
}

@media only screen and (min-width: 1920px){
    .main-altier-moema{
        height: 150vh;
    }
    .card-container-img img{
        width: 900px;
        height: auto;
    }
    .btn-left{
        position: absolute;
        z-index: 999;
        background-color: transparent;
        left: 480px;
        bottom: -120px;
        border: none;
        cursor: pointer;
    
    }
    .flex-img .btn-right{
        position: absolute;
        z-index: 999;
        background-color: transparent;
        border: none;
        bottom: -120px;
        right: 480px;
        cursor: pointer;
    }
    .nav-color{
        position: absolute;
        bottom: -380px;
        right: -200px;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .flex-texto p{
        width: 900px;
        height: 40px;
        font-family: "Montserrat";
        font-size: 1.1rem;
        position: absolute;
        transform: translate(-50%, -700%);
        opacity: 0 ;
        color: white; 
    }
    .info-obra{
        margin-top: 14rem;
        max-width: 1400px;
    }
    .btn-info{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        right: 18rem;
        
    }
    .branco{
        width: 1000px;
    }

}